
.header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    /* Hace que el encabezado se quede fijo en la parte superior */
    top: 0;
    /* Asegura que el encabezado esté en la parte superior de la página */
    width: 100%;
    /* Asegura que el encabezado ocupe todo el ancho de la ventana */
    z-index: 1000;
    /* Asegura que el encabezado esté sobre otros elementos */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    left: 0;
    top: 0; /* Opcional: para alinear el logo en la parte superior */
    margin: 10px; /* Opcional: para agregar algo de espacio alrededor del logo */
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-menu-item {
    margin-right: 15px;
}

.nav-menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-menu-link:hover, .nav-menu-link.selected {
    background-color: #0056b3;
}

.nav-toggle {
    display: none; /* Mostrar solo en dispositivos móviles */
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle-icon {
    width: 24px;
    height: 24px;
}

/* Adicional para el diseño responsive, si es necesario */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu-item {
        margin: 0;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu.show {
        display: flex;
    }
}